header {
    display: flex;
    padding: 10px;
    border-color: black;
    background-color: aqua;
}
.hd {
    padding: 30px;
}
.im1 {
    height: 200px;
    width: 200px;
    border-color: aqua; 
}
.bness {
    margin-left: 100px;
}
nav {
    margin-top: 50px;
}
.link {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 20px;
    text-align: right;
}
.b1 {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: yellow;
}
.b2 {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: yellow;
}
.b3 {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: yellow;
}
.l1 {
    padding: 15px;
}
.l2 {
    padding: 15px;
}
.l3 {
    padding: 15px;
}
.Pages {
    background-color: skyblue;
    height: 100px;
}
.learn {
    background-color: greenyellow;
    display: flex;
}

.footer-info {
    background-color: skyblue;
    display: flex;
    padding: 10px;
}
.ft, .datemod {
    display: flex;
    margin-top: 80px;
    margin-left: 20px;
}

